*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

header{
    background-color: rgb(216, 210, 210);
    padding: 20px;
    font-style: italic;
     
}
.row{
    display: flex;
    justify-content: space-between;
}
.w-80{
    width: 80%;
    margin: auto;
} 

 nav ul {
    display: flex;
    flex-wrap: wrap;
 column-gap: 25px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    
}
    


button{
    background-color: brown;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    
}
#hero-section{
    background-color: #3f1919;
    color: white;
    padding: 86px;
    font-style: italic;
}
.center{
    text-align: center;
}
#hero-section h1,p{
    margin-bottom: 20px;
}
#hero-section button{
    border-radius: 10px;
    font-size: 15px;
    padding: 14px 28px;
}
#grid-section{
    background-color: white;
    justify-content: space-between;
    display: flex;
    padding: 50px;    

}
.card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    
}
.card{
    width: 250px;
    display: flex;
    background-color: #D9D9D9;
    flex-direction: column;
padding: 20px;
border-radius: 30px;
row-gap: 10px;
}
.author{
    text-align: right;
}
footer{
    background-color: #382525;
    color: black;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30PX 0PX;
    background-color: #D9D9D9;
}
.footer-row DIV{
    width: 200px;
}
.footer-row div h3{
    margin-bottom: 23px;
}
.footer-row div h3 a{
  color: black;
}
.newsletter button input{
    padding: 10px 5px;
}
.newsletter{
    display: flex;
}
.copyright{
    background-color: #e26464;
    padding: 10px 0px;
} 

.copyright p{
    margin: 0%;
}